name: CI
on:
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]
        python: [3.5.4, 3.6.7, 3.7.5, 3.8.1]
        poetry-version: [1.0, 1.1.11, 1.1.12]
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install dependencies
        run: |
            python poetry install
      - name: Lint with Black
        run: |
          poetry run black user_profile_service/*
      - name: Test with pytest
        run: | 
              pytest
        env:
            CI: true