name: CI
on:
  pull_request:
    branches: [develop]

jobs:
  
  build:
    runs-on: ${{ matrix.operating-system }}
    services:
      user-profile-db:
        image: postgres:13
        ports:
          - "5433:5432"
        env:
          POSTGRES_PASSWORD: root
          POSTGRES_USER: postgres
          POSTGRES_DB: testdb
      # user-profile-app:
      #   image:  specnazm/dislinkt-user-profile:latest
      #   ports:
      #     - "5000:5000"
      #   env:
      #     DATABASE_USERNAME: postgres
      #     DATABASE_PASSWORD: root
      #     DATABASE_DOMAIN: db
      #     DATABASE_SCHEMA: test-db
      #     DATABASE_PORT: 5432
      #     FLASK_APP: user_profile_service
      #     FLASK_DEBUG: 1
      #     KAFKA1: kafka1:9092
      #     KAFKA_TOPIC: test-topic
      #   depends_on: db

      
    strategy:
      matrix:
        operating-system: [ubuntu-latest]
        python: [3.8.1]
        poetry-version: [1.1.12]
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ matrix.poetry-version }}
          virtualenvs-create: true
          virtualenvs-in-project: false
          virtualenvs-path: ~/my-custom-path
          installer-parallel: true
      - name: Install dependencies
        run: |
              poetry install
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "."
          version: "22.3.0"
      # - name: Create containers

      - name: Test with pytest
        run: | 
              poetry run pytest
        env:
            CI: true