name: CI
on:
  pull_request:
    branches: [develop]

jobs:
  build:
    runs-on: ${{ matrix.operating-system }}
    strategy:
      matrix:
        operating-system: [ubuntu-latest, windows-latest]
        python: [3.8.1]
        poetry-version: [1.1.12]
    steps:
      - uses: actions/checkout@v2
      - name: Set up python 
        uses: actions/setup-python@v2
        with:
          python-version: ${{ matrix.python }}
      - name: Install Poetry
        uses: snok/install-poetry@v1
        with:
          version: ${{ matrix.poetry-version }}
          virtualenvs-create: true
          virtualenvs-in-project: false
          virtualenvs-path: ~/my-custom-path
          installer-parallel: true
      - name: Install dependencies
        run: |
              poetry install
      - name: Lint with Black
        uses: psf/black@stable
        with:
          options: "--check --verbose"
          src: "./src"
          version: "21.5b1"
      - name: Test with pytest
        run: | 
              pytest
        env:
            CI: true